.container {
  background-color: royalblue;
  display: flex;
}
.container .item {
  width: 100px;
  height: 100px;
  border: 3px dashed red;
  background-color: orange;
}
.wrap .item {
  width: 100px;
  height: 200px;
  background-color: aqua;
}
.tittle {
  display: block;
  color: blue;
}
div {
  background-color: brown;
}
.middle {
  background-color: aqua;
}
